//main colors
$main-white: #fff;
$main-brown:#4A1F07;
$main-light-brown: #8E6954;
$main-text-brown:  #BD7F5C;

//media queries
$q1   : 321;
$q2   : 375;
$q3   : 360;
$q4   : 411;
$q5   : 426;
$q480 : 480;
$q540 : 541;
$q6   : 569;
$q7   : 679;
$q767 : 768;
$q8   : 769;
$q991 : 993;
$q9   : 994;
$q10  : 1024;
$q11  : 1200;
$q12  : 1367;
$q13  : 1441;
$q14  : 1600;
$q15  : 1700;
$q16  : 1920;
$q17  : 1921;
