<header>
  <div class="header_wrapper">
    <img src="/assets/images/main-bg.png" alt="" class="category-bg">
    <div class="header_wrapper__top">
      <div class="header_wrapper__top-wrap">
        <div class="header_wrapper__top-wrap__phone">
          <div class="header_wrapper__top-wrap__phone_item">
            <img src="/assets/images/kyivstar.png" alt="kyiv-icon">
            <img src="/assets/images/viber.png" alt="viber-icon">
            <a href="tel:+380970577388">+38 (097) 057 7388</a>
          </div>
          <div class="header_wrapper__top-wrap__phone_item">
            <img src="/assets/images/vodafone.png" alt="kyiv-icon">
            <img src="/assets/images/viber.png" alt="viber-icon">
            <a href="tel:+380666791174">+38 (066) 679 1174</a>
          </div>
          <div class="header_wrapper__top-wrap__phone_item">
            <img src="/assets/images/life.png" alt="kyiv-icon">
            <img src="/assets/images/viber.png" alt="viber-icon">
            <a href="tel:+380936868677">+38 (093) 686 8677</a>
          </div>
        </div>

        <div class="header_wrapper__top-wrap__search">
          <img src="/assets/images/visa.png" alt="kyiv-icon">
          <p>Оплата Онлайн</p>

        </div>

        <div class="header_wrapper__top-wrap__lang"></div>

      </div>


      <div class="header_wrapper__top-title">
        <img src="/assets/images/kettle.svg" alt="kettle-icon">

        <div class="header_wrapper__top-title__item">
          <a href="#">vsenatorii &nbsp; <img src="/assets/images/dot.png" alt="dot-icon" class="title__item-dot">  com</a>
          <span> Бронювання санаторіїв та готелей </span>
        </div>
        <!-- <app-main-bottom-dropmenu></app-main-bottom-dropmenu> -->
      </div>

    </div>

    <div class="header_wrapper__content">
      <div class="header_wrapper__content-menu">
          <nav>
            <ul>
              <li><a href="#">Санаторії та готелі</a></li>
              <li><a href="#">Тури та екскурсії</a></li>
              <li><a href="#">Оплата онлайн</a></li>
              <li><a href="#">Дитячі табори</a></li>
              <li><a href="#">Підбір туру</a></li>
              <li><a href="#">Новини</a></li>
              <li><a href="#">Блог</a></li>
              <li><a href="#">Про компанію</a></li>
            </ul>
          </nav>
      </div>


    <div class="container header_wrapper__content-info">
      <!-- <div class="container-fluid"> -->
        <div class="col-lg-6 col-sm-12">
            <h3>ПУТІВКИ НА КРАЩІ КУРОРТИ УКРАЇНИ</h3>
            <div class="content-info__item">
              <a href="#">Безкоштовна консультація</a>
              <a href="#">Офіційні ціни </a>

            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          ckfqlth
        </div>
      <!-- </div> -->

    </div>

    </div>

  </div>
</header>

