@import '../../../assets/scss/mixin';

@import'../../../assets/scss/variables';

footer{
  .footer_description{
    margin: 75px 0 60px 0;
    h3{
      @include mm(24, 36, 600);
    }
    p{
      @include mm(16, 28)
    }
  }
  .footer_wrapper{
    &-top{
      background-image: url('/assets/images/bg-top.png');
      background-position: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      // height: 100%;
      height: 100vh;
      padding: 60px;
      position: relative;
      p{
        @include mm(36, 48, 600);
        color: #333333;

      }
      span{
        @include mm(16, 24, 600);
        color: #333333;

      }
      &_phone{
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        a{
          @include mm(24, 36, 600);
          color: #333333;
          text-decoration: none;
        }
      }
      &_btn{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 223px;
        // position: absolute;
        // bottom: 206px;
        a{
          color: #000000;
          background: $main-white;
          padding: 20px 42px;
          text-transform: uppercase;
          border-radius: 3px;
          @include mm(12, 13, 800);
          &:hover{
            background: #333333;
            color: $main-white;
            text-decoration: none;
            cursor: pointer;

          }
        }
      }
    }
    &-bottom{

      position: relative;
      &:before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(52, 45, 52, 0.8);
        position: absolute;
        top: 0;
      }
      &-bg{
        padding: 120px 60px 0 60px;
        display: flex;
        background-image: url('/assets/images/bg-bottom.png');
        background-position: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        // height: 100%;
        height: auto;
        // padding: 60px;
        position: relative;
      }
      &__left{
        display: flex;
        flex-basis: 30%;

      }
      &__right{
        display: flex;
        flex-basis: 70%;
        &_item{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 106px;
          img{
            margin-bottom: 16px;
            width: 30px;
            height: 30px;
          }

          ul{

            text-align: center;
            padding-left: 0;
            li{
              list-style-type: none;
              a{
                color: #9B989B;
                @include mm(14, 30, 500);
                text-decoration: none;
                &.foot-main_title{
                  @include mm(16, 20, 900);
                  color: $main-white;
                  text-transform: uppercase;
                  margin-bottom: 12px;
                }
              }
            }
          }


        }
      }
    }
  }
}
